$hpurple: #5C4185;
$hpink: #ff75aa;
$hdark: #23213B;
$hgreen: #00E4A2;
$hlink: #9E9A7B;

$hviolet: #181726;

$hred: #C5283D;
$hblack: #101012;
$hwhite: #F7F7F2;

$hgrey: #F4F4FF;
$hblue2: #EFEFFF; 

$hbluewolf: #719493;
$hpinkmoon: #FD6D6D;